<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated structure -->
      <package
            uri="http://org.eclipse.projectMDE.project"
            class="structureMM.StructureMMPackage"
            genModel="model/structure.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated structure -->
      <package
            uri="htt:p//org/eclipse/projectMDE/project"
            class="behaviourMM.BehaviourMMPackage"
            genModel="model/structure.genmodel"/>
   </extension>

</plugin>
